/* Artfully masterminded by dmode  */

/* 
http://colorschemedesigner.com/#3o21Tq5JJw0w0
#####  Color Palette by Color Scheme Designer
#####  Palette URL: http://colorschemedesigner.com/#3o21Tq5JJw0w0
#####  Color Space: RGB; 



*** Primary Color:

   var. 1 = #2BA8CB = rgb(43,168,203)
   var. 2 = #3E8498 = rgb(62,132,152)
   var. 3 = #0E6A84 = rgb(14,106,132)
   var. 4 = #5EC7E5 = rgb(94,199,229)
   var. 5 = #82CFE5 = rgb(130,207,229)

*** Complementary Color:

   var. 1 = #FF982F = rgb(255,152,47)
   var. 2 = #BF854A = rgb(191,133,74)
   var. 3 = #A65B0F = rgb(166,91,15)
   var. 4 = #FFB263 = rgb(255,178,99)
   var. 5 = #FFC68D = rgb(255,198,141)
*/

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	color: #ffffff;
	background-color: #2BA8CB;	
	background-image: url('../images/bg.png');


}

a {
	color: #ffffff;
}

a:hover {
	color: #A65B0F;	
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}


hr { border: solid #3E8498; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }

#header {
	background-color: #ffffff;
	height:100px;
}
#company-name{
	padding-top: 50px;
	font-size: 2em;
	color: #FF982F;
}

#navigation {
	margin-bottom: 10px;
}

ul.navigation-bar {
	list-style-type: none;
	margin-left:0;
	padding-left:0;
}

ul.navigation-bar li {
	float: left;
	padding-right: 2px;
}

ul.navigation-bar li a {
	color: #ffffff;
	padding: 0.9em;
	display:block;
}

ul.navigation-bar li a:hover{
	background-color:#3E8498;
}

ul.navigation-bar li.active{
	background-color:#3E8498;
}

.company-name-small {
	margin-left: 10px;
	font-family: "Courier New", Courier, monospace;
}

.simple-ul {

	list-style:none;
}



/* ---------------------------------------
   Portfolio
----------------------------------------- */

#portfolio {
	position: relative;
}  

.portfolio {
	float: left;
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
}

.portfolio div {
	position: absolute;
	left: 0;
	bottom: 30px;
	height: 170px;
	width: 220px;
	color: #fff;
	opacity: 0;
}

.portfolio li:hover div, .portfolio li:active div, .portfolio li:focus div {
	position: absolute;
	z-index: 3;
	left: 0px;
	bottom: 30px;
	height: 170px;
	text-align: left;
	color: #fff;
	opacity: 1;
	background: rgb(14,106,132);
	background: rgba(14,106,132,.9);
	/*background: rgb(150,140,130);
	background: rgba(150,140,130,.9);*/
}

.portfolio div h3, .portfolio div p {
	margin: 10px 20px 20px 20px;
	padding:  0;
}
.portfolio div h3 {
	margin-top: 30px;
	font-size: 22px;
	color: #A65B0F;
}

.portfolio div h3 a {
	color: #FFC68D;
}


.portfolio li {
	float: left;
	text-align: left;
	width: 250px;
	height: 200px;
	margin: 0;
	padding:  0;
	position: relative;
}

.portfolio li a img {
	border: 10px solid rgb(150,140,130);
	border-color: rgba(150,140,130,.5) rgba(150,140,130,.505);
}



/* -----------------------------------------
   home
----------------------------------------- */

.bg-code {
	background-image: url('/images/pagelogo.png');
	height: 200px;
	background-repeat:no-repeat;
}

/* -----------------------------------------
   media
----------------------------------------- */
@media only screen and (max-width: 767px) {
	.company-name-small {
		display: block;
	}

}