<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Elternverein Küttigen - Rombach / demo 1</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="stylesheets/foundation.css">
	<link rel="stylesheet" href="stylesheets/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<div id="header">
		<div class="container">
			<div class="row">
				<div id="navigation-left" class="five columns hide-on-phones">
					<ul>
						<li><a href="/">Home</a> |</li>
						<li><a href="/">News</a> |</li>
						<li><a href="ag.html">Arbeitsgruppen</a></li>
					</ul>
				</div>
				<div class="two columns">
					<center><img src="Images/logo-klein-invert.png" height="110" width="110" /></center>
				</div>
				<div id="navigation-right" class="five columns hide-on-phones">
					<ul>
						<li><a href="/">Verein</a> |</li>							
						<li><a href="/">Familienzentrum</a> |</li>							
						<li><a href="/">Bilder</a></li>							
					</ul>
				</div>
				<div class="four columns show-on-phones">Menü Mobile</div>
			</div>
		</div>

	</div>

	<!-- container -->
	<div class="container">
		<div class="row">
			<div class="twelve columns socialMedia">
				<ul class="socalMediaButton">
					<li class="float-left">
						<a target="_blank" href="http://twitter.com/">Twitter</a>
					</li>
					<li class="float-right">
						<a target="_blank" href="http://facebook.com/">Facebook</a>
					</li>
				</ul>
			</div>

		</div>
		<div class="row">
			<div class="twelve columns">
				<h2>Willkommen auf unserer Webseite</h2>
				<p>Dies ist eine Demo Seite unsere aktuelle Webseite finden Sie <a href="http://www.evk-faz.ch">hier</a></p>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<div id="featured"> 
				     <a href="#"><img src="images/Start_Mittagstisch.jpg" alt="Mittagstisch" data-caption="#mtCaption" /></a>
				     <img src="Images/Start_Spielgruppe.jpg"  alt="Spielgruppe" data-caption="#spCaption" />
				     <img src="Images/Start_Waldspielgruppe.jpg" alt="Waldspielgruppe" data-caption="#spwCaption" />
				</div>
				<span class="orbit-caption" id="mtCaption">Mittagstisch in Küttigen</span>
				<span class="orbit-caption" id="spCaption">Spielgruppe im FAZ</span>
				<span class="orbit-caption" id="spwCaption">Spielgruppe im Wald</span>
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
			<h3>News</h3>
			<h4>Chinderkafi</h4>
			<p>Das Chinderkafi findet während der Frühlingsferien 2012 nicht statt. Start nach den Ferien ist der Montag 23. April jeweils jede zweite Woche.

Infos auf der AG Seite.</p>
			<hr />
			<h4>Kinderkleider- und Spielzeugbörse</h4>
			<p>Kinderkleider und Spielzeugbörse

27. bis 29. März 2012
Im Spittel (Schule Dorf), Küttigen</p>
			</div>
			<div class="four columns">
			<h3>Verein</h3>
			<ul class="disc">
				<li>Mitgliedschaft</li>
				<li>Jahresprogramm</li>
			</ul>
			</div>
		
		</div>

	</div>
	<!-- container -->
<div id="footer">
	<div class="container">
		<div class="row gaga">
			<div class="four columns">
				<h4>Arbeitsgruppen</h4>
				<ul>
					<li><a href="#">Adventsfenster</a></li>
					<li><a href="#">Babysitterbörse</a></li>
					<li><a href="#">Chinderkafi</a></li>
					<li><a href="#">Kinderfasnacht</a></li>
					<li><a href="#">Kleider / Spielzeugbörse</a></li>
					<li><a href="#">Kinderrechtstag</a></li>
				</ul>
			</div>
			<div class="four columns">
				<h4>Arbeitsgruppen</h4>
				<ul>
					<li><a href="#">Kinderschwimmen (IG)</a></li>
					<li><a href="#">Mittagstisch</a></li>
					<li><a href="#">MusikErlebnis</a></li>
					<li><a href="#">Spielgruppe</a></li>
					<li><a href="#">Waldspielgruppe</a></li>
					<li><a href="#">Ferienspass</a></li>
				</ul>

			</div>
			<div class="four columns">
				<h4>Verein</h4>
				<ul>
					<li><a href="#">Familienzentrum</a></li>
					<li><a href="#">Mitglied werden</a></li>
				</ul>
				<h4>Kontakt:</h4>
				<p>
					<a href="mailto:info@evk-faz.ch">info(at)evk-faz.ch</a><br />
					<a href="http//www.facebook.com/evkuettigen">Facebook</a><br />
					<a href="http://twitter.com/evk-faz">Twitter</a><br />
				</p>
			</div>
		</div>
	</div>
</div>


	<!-- Included JS Files -->
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/modernizr.foundation.js"></script>
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>
    <script type="text/javascript">
     $(window).load(function() {
         $('#featured').orbit({
         	bullets:true	
         });
     });
</script>
  

</body>
</html>
